*{
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    background-color: rgb(89, 167, 145);
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 34, 64);
}

div > h1 {
    color:rgb(3, 71, 60);
    font-weight: bold;

}

th {
    color: rgb(3, 34, 64);
    
}